@font-face {
    font-family: 'Norse-Bold';
    src: url('./sources/Norse-Bold.otf');
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    min-width: 400px;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.background-image {
    width: 33%;
    min-width: 400px;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0px;
}

.image-overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.image-overlay h1 {
    color: white;
    font-size: 90px;
    padding: 0px;
    margin: 0px;
    font-family: 'Norse-Bold';
    text-align: center;
}

.copyright {
    color: white;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    top: 78%;
    position: relative;
    font-weight: 500;
}

.logo {
    width: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 67%;
    min-width: 812px;
    background-color: #f2f2f2;

}

.footer,
.header {
    width: 100%;
    background-color: #f2f2f2;
    padding: 50px;

}

.header {
    font-weight: bold;
    font-size: 24px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
    gap: 0px;
}

.form {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 98%;
    padding: 30px 50px;
    gap: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
}

.form h1 {
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    width: 650px;
    font-size: 14px;
}

.field-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

.form input {
    height: 2.2em;
}

button {
    background-color: #E559F1;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

a {
    color: #E559F1;
    text-decoration: none;
    font-weight: bold;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
}

input:focus {
    border: 2px solid #E559F1;
    border-radius: 5px;
    outline: none;
}

input:invalid {
    border: 2px solid red;
    background-color: #f2f2f2;
    border-radius: 5px;
    outline: none;
}